DATABASE_URL="postgresql://project:project@localhost:5433/project_back?schema=public"
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
JWT_REFRESH_EXPIRES_IN_REMEMBER="30d"
JWT_PASSWORD_RESET_SECRET="change-me-password-reset"
JWT_PASSWORD_RESET_EXPIRES_IN="1h"
CORS_ORIGIN="http://localhost:3000"
COOKIE_SAME_SITE="none"
COOKIE_SECURE="true"
FRONTEND_URL="http://localhost:3000"
INVITE_EXPIRES_IN_HOURS="168"
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_SECURE="false"
SMTP_USER="361c5d13cf5110"
SMTP_PASSWORD="2986de4698d144"
SMTP_FROM="support@project.com"

PORT=3010
